.block {
    padding: 5px;
    outline: 1px solid #000;
    text-align: center;
}


.block ul {
    display: inline-block;
    overflow: hidden;
    background: #ccc;
    list-style: none;
    outline: 1px solid #f00;
    padding: 0 10px;
}

.block ul li {
    float: left;
    padding: 5px;
    margin: 5px;
   // outline: 1px solid #000;
    text-transform: lowercase;
}

/********************************************/

.container {
    margin: 0 auto;
    width: 900px;
    padding-top: 20px;
}

#circle {
    width: 50px;
    height: 50px;
    background: #276f29;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

#square {
    width: 50px;
    height: 50px;
    background: #276f29;
    margin-top: 10px; /*?????? ??? ???????????? ?????*/
}

#rectangle {
    width: 50px;
    height: 25px;
    background: #276f29;
    margin-top: 10px; /*?????? ??? ???????????? ?????*/
}

#oval {
    width: 50px;
    height: 25px;
    background: #276f29;
    -webkit-border-radius: 25px / 13px;
    -moz-border-radius: 25px / 13px;
    border-radius: 25px / 13px;
    margin-top: 10px; /*?????? ??? ???????????? ?????*/
}

#triangle {
    width: 0;
    height: 0;
    border-top: 100px solid #276f29;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    margin-top: 10px; /*?????? ??? ???????????? ?????*/
}

#triangle_down {
    width: 0;
    height: 0;
    border-bottom: 100px solid #276f29;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    margin-top: 10px; /*?????? ??? ???????????? ?????*/
}

#triangle_left {
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-right: 140px solid #646464;
    border-bottom: 70px solid transparent;
    margin-top: 10px; /*?????? ??? ???????????? ?????*/
}

#triangle_right {
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-left: 140px solid #ff5a00;
    border-bottom: 70px solid transparent;
    margin-top: 10px; /*?????? ??? ???????????? ?????*/
}

#diamond {
    width: 120px;
    height: 120px;
    background: #41587d;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 60px 0 10px 310px;
}
