body {
    width: 100%;
    min-height: 100%;
    background: #FFFBE7;
}

@font-face {
    font-family: 'baskervilleregular';
    src: url('baskerville.eot');
    src: url('baskerville.eot?#iefix') format('embedded-opentype'),
    url('baskerville.woff') format('woff'),
    url('baskerville.ttf') format('truetype'),
    url('baskerville.svg#baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baskervilleitalic';
    src: url('baskervillei.eot');
    src: url('baskervillei.eot?#iefix') format('embedded-opentype'),
    url('baskervillei.woff') format('woff'),
    url('baskervillei.ttf') format('truetype'),
    url('baskervillei.svg#baskervilleitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Georgia Italic';
    src: url('Georgia Italic.eot');
    src: local('☺'), url('Georgia Italic.woff') format('woff'), url('Georgia Italic.ttf') format('truetype'), url('Georgia Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Georgia Bold Italic';
    src: url('Georgia Bold Italic.eot');
    src: local('☺'), url('Georgia Bold Italic.woff') format('woff'), url('Georgia Bold Italic.ttf') format('truetype'), url('Georgia Bold Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Georgia';
    src: url('Georgia.eot');
    src: local('☺'), url('Georgia.woff') format('woff'), url('Georgia.ttf') format('truetype'), url('Georgia.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

.clr {
    clear: both;
}

* html .clearfix {
    height: 1%;
}

header {
    width: 1000px;
    margin: 25px auto 0;
}

.lang {
    margin: 0 auto;
    width: 80px;
    padding-bottom: 15px;
}

.lang li {
    float: left;
    padding-left: 15px;
    width: 20px;
    font-size: 11px;
}

.lang li a {
    color: #5D5D5D;
    text-decoration: underline;
    font-size: 11px;
}

.lang li a:hover {
    text-decoration: none;
}

.lang span {
    color: #5D5D5D;
    padding-left: 10px;
    font-size: 11px;
}

.top-main {
    width: 920px;
    padding-top: 35px;
    margin: 0 auto;
}

.title {
    width: 440px;
    float: left;
    padding-top: 52px;
    margin-left: 19px;
}

.name {
    background: url('../img/logo.png') no-repeat left;
    width: 359px;
    height: 152px;
    font-size: 13px;
    text-indent: -9999px
}

.name a {
    display: block;
    height: 163px;
}

.activities {
    color: #777777;
    font: 20px/20px 'baskervilleitalic', serif;
    margin-bottom: 60px;
    text-align: right;
    width: 295px;
    padding-left: 125px;
}

.aphorisms {
    color: #777777;
    font: italic 26px/26px 'Palatino Linotype', sans-serif;
    width: 440px;
    text-indent: 60px;
    position: absolute;
}

.aphorisms p {
    display: none;
}

p.active {
    display: block;
}

.aphorisms span {
    padding-left: 50px;
}

.aphorisms .art {
    padding-left: 127px;
}

.portrait {
    width: 440px;
    height: 420px;
    float: right;
}

.menu {
    margin: 55px auto 0;
}

#m_menu {
    width: 606px;
    height: 67px;
    margin: 0 auto 0 auto;
    position: relative;
}

.sprite-patterns_nav_left {
    float: left;
    width: 110px;
    height: 33px;
    background-position: -759px -107px;
    display: inline-block !important;
    position: relative;
    top: 18px;
    left: 65px;
}

.sprite-patterns_nav_right {
    float: right;
    width: 110px;
    height: 33px;
    background-position: -759px -156px;
    display: inline-block !important;
    position: relative;
    top: -50px;
    left: -65px;
}

#m_menu ul {
    background: url(../img/spritesheet-02.png);
    background-position: -137px -92px;
    text-align: center;
    padding-top: 0;
    height: 67px;
}

#m_menu ul li {
    display: inline-block;
    height: 67px;
    z-index: 100;
    min-width: 113px;
    position: relative;
}

#m_menu ul li.backLava {
    background: url(../img/backLavabg.png) no-repeat center center;
    height: 67px;
    z-index: 10;
    outline: none;
}

#m_menu ul li a {
    display: block;
    height: 35px;
    font: 18px/35px 'baskervilleregular', sans-serif;
    color: #4C2B06;
    text-decoration: none;
    margin-top: 16px;
    position: relative;
    z-index: 100;
    padding-right: 20px;
    padding-left: 20px;
    letter-spacing: -1px;
}

#m_menu ul li a:after {
    content: " ";
    background: url(../img/big-dot.png) no-repeat center center;
    position: absolute;
    width: 8px;
    height: 6px;
    top: 44%;
    right: -6px;
}

#m_menu ul li:last-child a:after {
    background: none;
}

.content {
    width: 865px;
    margin: 0 auto;
    padding-bottom: 56px;
}

.content_about {
    width: 935px!important;
}

.collons p {
    font-size: 13px;
    color: #555555;
    font-family: Arial, 'Times New Roman', Times, serif;
    padding: 0 0 20px 0;
}

.col-1 {
    float: left;
    width: 444px;
    border-right: 1px dotted #C6C6C6;
    padding-right: 23px;
    line-height: 20px;
}

.col-2 {
    float: right;
    width: 444px;
    padding-left: 23px;
    line-height: 20px;
}

.media {
    width: 860px;
    margin: 0 auto;
    padding-top: 20px;
}

.col-200 {
    width: 185px;
}

.col-200:nth-child(4n) {
    padding-left: 43px;
}

.video {
    display: none;
}

figure {
    padding-bottom: 10px;
}

figure img {
    border-radius: 10px;
}

figcaption {
    color: #73593A;
    font-weight: normal;
    text-align: center;
}

.play_but {
    position: absolute;
    border: none;
    border-radius: 0;
    right: 5px;
    bottom: 40px;
}

.press {
    width: 860px;
    margin: 0 auto;
}

.press section {
    width: 410px;
}

.press > div {
    margin: 5px 0;
    padding: 0 0 20px 0;
}

.press article {
    float: left;
    width: 415px;
    background: url(../img/dot_bg.png) no-repeat bottom center;
}

.press article + article {
    margin-left: 30px;
}

.press article + article p, .press article + article span, .press article + article h3 {
    margin-left: 30px;
}

.date {
    color: #7A6343;
    font-weight: bold;
    text-transform: lowercase;
}

.press article h3 {
    padding: 15px 0;
    color: #000;
}

.press article h3 a {
    color: #000;
    text-decoration: none;
}

.press article h3 a:hover {
    text-decoration: underline;
}

.press article p {
    color: #545454;
    font-family: Arial, 'Times New Roman', Times, serif;
    font-size: 13px;
    line-height: 17px;
    padding-bottom: 15px;
}

.none_border_article {
    background: none !important;
}

.article {
    width: 860px;
    margin: 0 auto;
    padding: 20px 0 60px;
    background: url(../img/dot_bg.png) no-repeat bottom;
}

.article h2 {
    text-align: center;
    font-size: 21px;
    font-style: italic;
}

.article p strong {
    padding: 15px 0;
    color: #000;
    background: none;
}

.article div {
    padding-top: 10px;
    line-height: 17px;
}

.article div p {
    padding-top: 20px;
    color: #545454;
}

.article div span {
    width: 430px;
    text-align: right;
    display: block;
    color: #545454;
    padding-top: 40px;
    margin-left: 215px;
}

mark {
    color: #000;
    background: none;
}

.creation {
    color: #5F370A;
    font-family: Georgia;
    font-style: italic;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 50px;
    overflow: hidden;
}

.creation:nth-child(2n) {
    margin-bottom: 0;
}

.creation-left {
    width: 410px;
    float: left
}

.creation-left div ~ div {
    margin-top: 120px;
}

.creation-right {
    margin-left: 45px;
    float: left;
    width: 410px;
}

.creation h3 {
    text-align: center;
    font-style: normal;
    padding-bottom: 30px;
}

.creation ul {
    width: 410px;
}

.creation ul li {
    height: 10px !important;
    background: url(../img/min-dot.png) repeat-x 0 16px;
    padding: 10px 0;
}

.download p {
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}

.download:hover p {
    text-decoration: none;
}

.downloaded_formats a:hover {
    text-decoration: none;
}

.creation a {
    color: #5F370A;
    font-family: Georgia;
    font-style: italic;
    font-size: 14px;
    padding-right: 10px;
    text-decoration: none;
}

.creation li p {
    float: left;
    padding-right: 10px;
    background: #FFFBE7;
}

.creation li span {
    font-size: 14px;
    display: inline-block;
    padding: 0 0 0 10px;
    background: #FFFBE7;
    float: right;
    transition: 2s;
}

.creation li span a {
    padding: 0 0 0 5px;
    text-decoration: underline;
}

.outline {
    outline: 1px solid #000;
}

.sprite {
    background-image: url(../img/spritesheet-02.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-contour_top {
    width: 865px;
    height: 31px;
    background-position: -8px -60px;
    margin: 0 auto;
}

.sprite-contour_bottom {
    width: 875px;
    height: 36px;
    background-position: -8px -8px;
    margin: 0 auto;
}

.sprite-quote_open {
    width: 22px;
    height: 17px;
    background-position: -46px -205px;
    position: relative;
    top: -10px;
    display: inline-block;
}

.sprite-quote_close {
    width: 22px;
    height: 17px;
    background-position: -8px -205px;
    display: inline-block;
    position: relative;
    top: 10px;
}

footer {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 20px 25px 20px;
}

footer p {
    width: 280px;
    margin: 0 auto;
    color: #545454;
    font-size: 11px;
    font-family: Arial;
    padding: 15px 0 0 0;
}

.socium {
    width: 210px;
    margin: 0 auto;
    padding-top: 10px;
}

.socium ul {
    overflow: hidden;
}

.socium ul li {
    background: url("../img/smoll-dot.png") no-repeat top left;
    color: #545454;
    float: left;
    font-size: 12px;
    padding: 0 0 0 15px;
}

.socium .socium-first {
    background: none;
}

.socium ul li a {
    color: #545454;
    font-size: 11px;
    text-decoration: underline;
    font-family: Arial;
}

.socium ul li a:hover {
    color: #545454;
    font-size: 11px;
    text-decoration: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.pad-lt {
    padding-left: 41px;
}

.relative {
    position: relative;
}

.margin-left-215 {
    margin-left: 215px;
}

.margin-left-40 {
    margin-left: 40px;
}

q {
    font-family: Times, serif; /* Шрифт с засечками */
    font-style: italic; /* Курсивное начертание текста */
}

article.press_post {
    width: 860px;
    margin: 0 auto;
}

article.press_post h2 {
    font-family: 'Conv_Georgia Italic';
    font-size: 21px;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}

article.press_post h4 {
    font-family: 'Conv_Georgia';
    font-size: 14px;
    padding: 5px 0;
    color: #3f3e39;
}

article.press_post mark {
    font-family: 'Conv_Georgia Italic';
    background: transparent;
    font-size: 14px;
    color: #000;
    margin-bottom: 25px;
    display: inline-block;
}

.author {
    margin-bottom: 30px;
}

.comment {
    margin-bottom: 30px;
}

.author mark {
    margin-bottom: 15px !important;
}

article.press_post .author p {
    font-family: Arial;
    font-size: 13px;
    color: #535353;
    line-height: 18px;
    margin: 0 0 10px 0;
    padding: 0;
}

article.press_post .comment p {
    font-family: 'Conv_Georgia Italic';
    font-size: 14px;
    color: #535353;
    line-height: 18px;
    margin: 0 0 10px 0;
    padding: 0;
}

.post-date {
    text-align: center;
    margin-bottom: -65px;
    margin-top: 0;
}

.post-date p {
    font-family: 'Conv_Georgia Italic';
    font-size: 13px;
    color: #535353;
    line-height: 18px;
    padding: 10px 0;
}

.dots {
    color: #AF9978;
    font-size: 30px;
    margin-bottom: 20px;
}

.paragraphs_block p {
    text-indent: 20px;
    margin-bottom: 0 !important;
}

.error p {
    font-family: 'Conv_Georgia Italic';
    color: #777777;
}

.error {
    height: 250px;
}

.error p span {
    font-weight: bold;
    padding: 10px;
}

.error p a {
    color: #777777;
}

.error p a:hover {
    text-decoration: none;
}

